certifi==2024.8.30
cffi==1.17.1
cryptography==43.0.3
packaging==24.1
pycparser==2.22
pandas==2.1.3
numpy==1.26.2
matplotlib==3.8.2
seaborn==0.13.0
scikit-learn==1.3.2
wheel==0.44.0
numpy
pandas
matplotlib
seaborn
scikit-learn
xgboost
tensorflow
statsmodels
